			body{
				margin:0;
				padding: 0;
			}

			.navbar{
				list-style-type: none;
				margin:-8px;
				margin-top:-5px;
				overflow: hidden;
				background-color: #0000e5;
				font-size:20px;
				font-weight: bold;
				padding: 15px 25px;
				position: absolute;
				height:50px;
				width: 1398px;
			}
			.banner{
				background-color: #FFD700;
				height: 30px;
				position: relative;
				overflow: hidden;
				width: 1440px;
			}
			.bannertxt{
				color:black;
				margin-top: 3px;
				font-size: 15px;
				text-align: center;
				font-family: 'Montserrat', sans-serif;

			}
			.list{
				float:right;
			}
			.nav-a{
				display:block;
				font-family: 'Montserrat', sans-serif;
				padding: 14px 16px;
				font-size: 20px;
				text-decoration: none;
				color:#fff;
				text-shadow: 0px 1px 50px#000000;
				transition: color 0.3s ease-in-out;
			}
			.nav-a:hover{
				color:#add8e6;
			}
			.header1{
				margin-left:80px;
				font-family: 'Damion', cursive;
				margin-bottom: -15px;
				color:#fff;
				letter-spacing: 2px;
				font-size: 20px;
				margin-top:-5px;
				transition: color 0.3s ease-in-out;
			}
			.header2{
				color: #fff;
				font-family: 'Rock Salt', cursive;
				letter-spacing: 2px;
				font-size: 20px;
				margin-top:-5px;
				transition: color 0.3s ease-in-out;
			}
			.header1:hover{
				color:#add8e6;
			}
			.header2:hover{
				color:#add8e6;
			}
			#home{
				color:#add8e6;
			}
			#imgArray{
				height:800px;
				width: 1440px;
			}
			#galArray{
				margin-top:45px;
				height:40%;
				width:40%;
				float: right;
				margin-right: 60px;
				border: 2px solid #0000e5;
				border-radius: 10px;
			}
			.btmtxt{
				margin-top:-150px;
				margin-bottom: -100px;
				color:#fff;
				font-size: 100px;
				font-family: 'Stalemate', cursive;
				text-shadow: 0px 0px 5px #5e5e5e;
				margin-left: 50px;
			}
			.banner2{
				margin-top: 99px;
				background-color:#0000e5;
				height:50px;
				padding: 15px 25px;
				position: relative;
			}
			.bannertxt2{
				font-family: 'Stalemate', cursive;
				color:#fff;
				text-align: center;
				margin-top: 5px;
			}
			.banner3{
				margin-top: 115px;
				background-color:#0000e5;
				height:50px;
				padding: 15px 25px;
				position: relative;
			}
			.bannertxt3{
				font-family: 'Stalemate', cursive;
				color:#fff;
				text-align: center;
				margin-top: 5px;
			}
			.bottom-bg{
				background-color: #fff;
				height: 500px;
			}
			.bottom-bg2{
				background-image: url("spa4.jpg");
				background-size: cover;
				height:720px;
				width:1440px;
				position: absolute;
			}
			.bottom-head{
				font-family: 'Cabin', sans-serif;
				font-weight: 600px;
				margin-left: 250px;
			}
			.gallery-head{
				font-family: 'Cabin', sans-serif;
				font-weight: 600px;
				margin-left: 1050px;
				margin-top: -61px;
			}
			.bottom-txt{
				width:400px;
				font-family: 'Cabin', sans-serif;
				font-size: 22px;
				font-weight: 100px;
				margin-left: 100px;
				text-align: left;
			}
			table, th, td{
				border: 1px solid white;
				padding:5px;
				border-collapse: collapse;
			}
			th, td{
					padding: 15px;
					text-align: center;	
			}
			.table-hours{
				margin-left: 150px;
				margin-top: 100px;
				color: white;
			}
			th{
				background-color: #0000e5;
			}
			tr{
				background-color:rgba(0, 0, 0, 0.5);
				color: white;
				font-family: 'Damion', cursive;
				font-size: 25px;
			}
			.top{
				margin-left: 650px;
				color: white;
				font-family: 'Cabin', sans-serif;
				font-size: 30px;
			}